<div class="mt-4 ml-3 mr-3">
    <h3>Create new post</h3>

    <form method="post" action="/post/store">
        <div class="form-group">
            <label for="name">Post title</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>

        <div class="form-group">
            <label for="videoID">Image link</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        <input type="submit" value="Create post">
    </form>
</div>