<div class="mt-4 ml-3 mr-3">
    <h3>Update course</h3>

    {{#with course}}
    <form method="POST" action="/post/{{_id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Post title</label>
            <input type="text" class="form-control" id="name" name="name" value="{{name}}">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description">{{description}}</textarea>
        </div>

        <div class="form-group">
            <label for="videoID">Image link</label>
            <input type="text" class="form-control" id="videoID" name="videoID" value="{{videoID}}">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    {{/with}}
</div>