* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar .collapse .navbar-nav li .dropdown-menu {
  transform: translateX(-50%); }

.navbar .user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 8px; }

.card-course-item {
  margin-top: 16px; }

.mt-4 .row .col-lg-9 a button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: skyblue; }

.mt-4 .row .col-lg-3 button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: skyblue; }
