{{!-- <form method="post" action="/login/validate">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <input type="submit" value="Register">
    </form> --}}

        <link rel="stylesheet" type="text/css" href="/Login.css" />

    <div class="main">

            <form action="/login/validate" method="POST" class="form" id="form-2">
                <h3 class="heading">Login</h3>
                <p class="desc">Welcome to IU Lost and Found</p>
                <div class="spacer"></div>

                <div class="form-group">
                    <label for="fullname" class="form-label">User name</label>
                    <input id="fullname" name="username" type="text"
                        placeholder="User name" class="form-control">
                    <span class="form-message"></span>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" name="password" type="password"
                        placeholder="Password" class="form-control">
                    <span class="form-message"></span>
                </div>

                <button class="form-submit">Log In</button>
            </form>

        </div>
